<h2>About</h2>
<p>Welcome to the lunch app, the lunchiest app on the planet!

If you're like me, you've been eating lunch all your life.  We all know how old lunches can get. At first lunch is really fun. But after awhile it's the same old places over and over again.  That's why I've created LunchApp &copy;.

</p>
<h3>Instructions</h3>
<p>
LunchApp aims to help you to choose a lunch. Simply add lunch places and meals and it will save to your browsers local storage automatically as you add and manage your lunches.  Click 'save' to create or edit an existing lunches item with a unique, shareable url.  You can also 'clone' the lunch items to a unique array! </p>

it's built with angular.js and uses ng-show, ng-router, ng-repeat, ng-filter, and some other cool stuff.  enjoy! 


